@media (max-width: 600px) {
    .carocel_content {
    text-align: center;
    top: 20%;
}
.carocel_content h1 {
    font-size: 20px;
}
.carocel_content h2 {
    font-size: 12px;
}
.btn_color {
    margin: 0px !important;
   font-size: 12px;
}
.icon_size {
    font-size: 10px;
   
}
.sm_class {
    margin-bottom: 18px;
}
.res {
    margin-bottom: 20px;

}
.spring{
    font-size: 18px;
}
.banner_button {
  
        font-size: 12px;
}





.h1_res {
    font-size: 20px;
}


.p_res{
    font-size: 12px;
    font-weight: 400;
}






}
@media (max-width: 800px) {

}